html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  padding: 4rem 20rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline-offset: 2px;
  outline: 3px solid rebeccapurple;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.carousel .control-arrow:focus {
  outline: 3px solid rebeccapurple !important;
}

@media only screen and (max-width: 1200px) {
  body {
    padding: 3rem 3rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
